.conteudo-pagina{
    /* background-color: tomato; */
    margin-bottom: 54px;;
}

.barra-story{
    background-color: initial;
    box-shadow: initial;
}

.barra-story, .feed, .publi-feed, .comentarios{
    width: 100vw;
}

.comentarios .esquerda-comentar input, 
.comentarios-postados, .quero-comentar{
    width: 100%;
}

.comentarios-postados{
    height: 40px;
}

.icone{
    display: none;
}

header div, .logo-instagram img, .opcoes-instagram .padding {
    display: none;
}

.barra-de-busca input{
    display: none;
}

.barra-de-busca img{
    display: initial;
}

.barra-mobile{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #FFFFFF;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    opacity: 0.97;
}

.barra-mobile ion-icon{
    height: 22px;
    width: 22px;
}

.stories-externo{
    margin-bottom: 40px;
}

.primeiro{
    margin-left: 10px;
}

.meowed{
    height: 836px;
}

.urso{
    margin-bottom: 30px;
}